<div style="text-align: center;">
<h1><%= @user.username.capitalize %>'s Top 5 Games </h1>
</div>
<p></p>

<% @user.games.reverse.each do |g| %>
<div>
<h2 id="list_name">List Name: <%= g.list_name %></h2>
</div>
<br>

<div>
<h3 class="game_list">1) <%= g.first_game %></h3>
</div>
<br>

<div>
<h3 class="game_list">2) <%= g.second_game %></h3>
</div>
<br>

<div>
<h3 class="game_list">3) <%= g.third_game %></h3>
</div>
<br>

<div>
<h3 class="game_list">4) <%= g.fourth_game %></h3>
</div>
<br>

<div>
<h3 class="game_list">5) <%= g.fifth_game %></h3>
</div>

<p></p>
<a href ="/games/<%= g.id %>/update">
<input type="submit" value="update">
<p></p>
</a>

<p></p>
<form action="/games/<%= g.id %>/delete" method="POST">
<input type="submit" value="delete">
<p></p>
</a>
</form>

<% end %>
<br>
<br>

<p></p>
<p>
<a href="/index"><h5>Click Here to see other users Top 5 Games</h5></a>
</p>

<p>
<a href="/new_games_list">
<input class="games_selection_buttons" type="submit" value="New List">
</a>
</p>


<p>
<form action="/logout" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input class="games_selection_buttons" type="submit" value="Logout">
</form>
</p>




