<%= @games.first_game %>
<br>
<%= @games.second_game %>
<br>
<%= @games.third_game %>
<br>
<%= @games.fourth_game %>
<br>
<%= @games.fifth_game %>
<br>
<br>

<p>
<form action="/logout" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Logout">
</form>
</p>