<div style="text-align: center;">
<h1>All Users Posts</h1>
</div>

<button type="button">


<a href="/users_games_selection/<%= @user.id %>">Back To Your Games Selection</a>
</button>

<% @games.reverse.each do |g|  %>
<p>
<h4>Username: <%= User.find_by_id(g.user_id).username%></h4>
<br>
1) <%= g.first_game %>
<br>
2) <%= g.second_game %>
<br>
3) <%= g.third_game %>
<br>
4) <%= g.fourth_game %>
<br>
5) <%= g.fifth_game %>
</p>
<% end %>

